<div class="row animate__animated animate__backInUp">

    <h2>Por capital</h2>
    <hr>    

    <div class="row">
        <div class="col">
            <app-pais-input 
            (onEnter)="buscar( $event )" 
            placeholder="Buscar capital....">
            </app-pais-input>
        </div>
    </div>
<div>
    <hr>
</div>
    <div *ngIf="hayError" class="alert alert-danger row animate__animated animate__flash">
        No se encontró el termino: <h4> {{ termino }}</h4>
    </div>

    <div *ngIf="paises.length > 0" class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>